<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"><!-- col-lg-offset-2"> -->
        <p>A team-first technical and effects artist who loves tackling new and interesting problems.

        Has a background in games for Unreal Engine, with a varied and multidisciplined skill set. Studied and taught at Media Design School in Auckland, New Zealand, before venturing outside of tertiary education to seek further career challenges. Has further studies in film at Auckland University of Technology.

        Enjoys finding ways to help out teammates and making effects that wow audiences.

        For any enquiries, please email me at hello@jacksoniswong.com

        Alternatively, you can find me on these other sites:

        LinkedIn | Instagram</p>
      </div>
      <!-- <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p> -->
      <!-- </div> -->
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
