<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr><!-- <hr class="star-light"> --> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A team-first technical and effects artist who loves tackling new and interesting problems.</p>

        <p>Has a background in games for Unreal Engine, with a varied and multidisciplined skill set. Studied and taught at Media Design School in Auckland, New Zealand, before venturing outside of tertiary education to seek further career challenges. Has further studies in film at Auckland University of Technology.</p>

        <p>Enjoys finding ways to help out teammates and making effects that wow audiences.</p>

      </div>
      <div class="col-lg-4">
        <p>For any enquiries, please email me at <a href="mailto:hello@jacksoniswong.com">hello@jacksoniswong.com</a></p>
        <p>Alternatively, you can find me on these other sites:</p>
        <p><a href="https://linkedin.com/in/jacksoniswong/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i>LinkedIn</a> &nbsp;
          <a href="https://instagram.com/jacksoniswong/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i>Instagram</a></p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
